/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  background-image: url('/src/styles/miami-skyline.gif');
  background-repeat: repeat;
  background-size: 105%;
  background-position-x: -40px;
	line-height: 1;
}

header{
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.titleHeading{
  color: #1ff4ef;
  text-shadow: 2px 2px #ff1493;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#miamiLogo{
  display: flex;
  justify-content: center;
}

.gameMessage{
  color: #1ff4ef;
  text-shadow: 2px 2px #ff1493;
  margin: 20px;
  font-size: 4em;
}
.restartMessage{
  color: #1ff4ef;
  text-shadow: 2px 2px #ff1493;
}

/**
 * FONTS
 */

@font-face {
  font-family: 'Silkscreen Web';
  src: url('../../public/fonts/slkscr-webfont.eot');
  src: url('../../public/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/slkscr-webfont.woff') format('woff'),
    url('../../public/fonts/slkscr-webfont.ttf') format('truetype'),
    url('../../public/fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * GAME
 */

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Silkscreen Web', monotype;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

h1 {
  font-size: 3rem;
  /* margin-top: 50px; */
  text-align: center;
}

img{
  background-size: 250%;
}

input{
  opacity: 0.9;
  text-decoration: none;
  
}

.playerOneInput{
  width: 200px;
  height: 25px;
  background-color: #1ff4ef;
  font-family: 'Silkscreen Web';
  font-size: 1em;
  color: #e183e5;
  margin: 10px;
  border: none;

}

.playerTwoInput{
  width: 200px;
  height: 25px;
  background-color: #ff1493;
  font-family: 'Silkscreen Web';
  font-size: 1em;
  color: #1ff4ef;
  margin: 10px;
  border: none;
}

.playerOneName{
  font-size: 2.5em;
  color: #1ff4ef;
  margin: 10px;
}

.playerTwoName{
  font-size: 2.5em;
  color: #ff1493;
  margin: 10px;
}

form{
  text-align: center;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section{
  align-self: center;
}

